

.who__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.span2 {
    grid-column: span 2;
}

.block-section__span2 {
    padding: 0 25%;
}

.block-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 0 5%;
    text-align: center;
    border: 1px solid #313332;
}

.block-section__img--arrow {
    background: url("/src/assets/icons/arrowDown.svg") no-repeat center;
    background-size: auto;
}

.block-section__img {
    background: url("/src/assets/babyChillin.jpg") no-repeat center;
    background-size: cover;
}


