.footer {
    width: 100%;
    height: 243px;
    max-height: 20vh;
    align-items: center;
}



.footer__social__link--telegram {
    width: calc(39px * 0.9);
    height: calc(32px * 0.9);
}

.footer__social__link--whatsapp {
    width: calc(40px * 0.9);
    height:  calc(40px * 0.9);
}

.footer__arrow {
    background-image: url("/src/assets/icons/footer-arrow.svg");
    display: block;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 25px;
    height: 22px;
}

.footer__social {
    gap: 36px;
    justify-content: end;
    padding-right: 27%;
}