.header {
    height: 107px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 45px;
}

.pages {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}

.header__social {
    gap: 16px
}


.header__social__link--instagram {
    width: 15px;
    height: 15px;
}

.header__social__link--whatsapp {
    width: 16px;
    height: 16px;
}

.header__social__link--telegram {
    width: 16px;
    height: 13px;
}

