.header {
    height: 107px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-top: 32px;
    padding-bottom: 45px;
}

.pages {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}

.social {
    display: flex;
    align-items: center;
    gap: 16px
}

.pages__item,
.social__item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.social__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s;
}

.social__link:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.social__link--instagram {
    background-image: url("../src/assets/icons/Instagram.svg");
    width: 15px;
    height: 15px;
}

.social__link--whatsapp {
    background-image: url("../src/assets/icons/WhatsApp.svg");
    width: 16px;
    height: 16px;
}

.social__link--telegram {
    background-image: url("../src/assets/icons/Telegram.svg");
    width: 16px;
    height: 13px;

}