.welcome {
    background: url("./src/assets/welcome.png") top no-repeat;
    /*min-height: 793px;*/
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__title {
    font-weight: 100;
    font-size: 96px;
    letter-spacing: 0.03em;
    padding-top: 70px;
    max-width: 500px;
}

.subtitle {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.welcome__subtitle {
    padding-top: 36px;
}

.welcome__grid {

}

.welcome__btn {
    grid-column: 1;
    height: 46px;
    margin-bottom: 70px;
}


.services__content {
    grid-template-rows: 500px;
    grid-auto-rows: 500px;
}

.services__card {
    background: no-repeat center rgba(0, 0, 0, 0.25);
    background-size: cover;
    width: 100%;
    min-height: 300px;
}

.darken-layer {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--softWhite);
    width: 100%;
    height: 100%;
}


.services__title {
    text-align: center;
    padding-top: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 90%;
    word-wrap: normal;
}

.services__button {
    padding-bottom: 40px;
    color: var(--softWhite);
    transition: ease-in-out 0.2s;
}

.services__button:hover {
    scale: 1.05;
}

.order__grid {
    display: grid;
    grid-template-columns: 120px 1fr 20px 50%;
    justify-items: end;
}

.order-form__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.order-form__head {
    grid-column: 2 span;
}

.order-form__main-page-wrapper {
    width: 100%;
    height: 100%;
    min-height: max-content;
    grid-column: 2;
    /*grid-column-end: 4;*/
    padding-top: 50px;
}

.order__pic {
    align-self: center;
    justify-self: right;
    grid-column-start: 5;
    max-height: 1210px;

}

.order__pict {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    justify-content: end;
    grid-column-start: 4;
    max-height: 100%;
}