.selector {
    width: 100%;
    height: 55px;
    padding-left: 43px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
    border: none;
    background: rgba(235, 235, 235, 0.7) url("/src/assets/icons/selectArrow.svg") no-repeat calc(100% - 15px) center;
    background-size: 15px 12px;
    appearance: none;
    color: var(--softBlack);
}

.selector__option {
    color: var(--softBlack);
}

.selector:focus {
    background: rgba(235, 235, 235, 1);
    transition: background-color ease-in-out 0.2s;
    /*background-image: url("./src/assets/icons/selectArrowBack.svg");*/
    outline: none;
}

.order-form__service-title {
    grid-column: span 2;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--softBlack);
    margin-top: 30px;
    word-break: break-word;
}

.order-form__content {
    /*margin-top: 70px;*/
    margin-top: calc(100vh/20);
}

.order__grid {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 100px;
    grid-column-gap: 20px;
    justify-items: end;
}

.order-form__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;


}

.order-form__head {
    grid-column: 2 span;
    text-align: left;
}

.order-form__main-page-wrapper {
    width: 100%;
    height: 100%;
    min-height: max-content;
    grid-column: 2;
    /*grid-column-end: 4;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.order__pic {
    align-self: center;
    justify-self: right;
    grid-column-start: 5;
    max-height: 1210px;

}

.order__pict {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    justify-content: end;
    grid-column-start: 3;
    grid-column-end: 6;
    max-height: 100%;
}

.order-form__step {
    /*margin-bottom: 45px;*/
    margin-bottom: calc(100vh/35);
}

.order-from__input {
    width: 100%;
    height: 55px;
    padding-left: 43px;
    padding-right: 25px;
    margin-bottom: 20px;

    background: rgba(235, 235, 235, 0.7);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
    border: none;
}

.order-from__input:last-child {
    margin-bottom: 0;
}

.order-from__input:focus {
    outline: none;
}

.order-form__step_info__number {
    margin-bottom: 10px;
}

.order-form__step_info {
    margin-bottom: 20px;
}

.order-from__input::placeholder {
    font-weight: 300;
}

.inputError {
    color: #dc4242;
}

.order-form__btn {
    width: 100%;
    margin-bottom: 25px;
}

.order-form__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.order-form__result__title {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.order-form__result__price {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.disabled {
    background: rgba(0, 0, 0, 0.1);
    cursor: auto;
}

.order-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}