:root {
    --beige: #DCD6C8;
    --softWhite: #E5E5E5;
    --softBlack: #313332;
    --bg: #EBEBEB;
}

html {
    background: var(--bg);
    background-position: center;
    color: var(--softBlack)
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

.site-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 200px;
    margin-bottom: 200px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.beige-bg {
    width: 100%;
    background: var(--beige);
}

.h1 {
    font-weight: 300;
    font-size: 96px;
    /*line-height: 100%;*/
    /* identical to box height, or 96px */

    letter-spacing: 0.03em;
}

.h2 {
    font-weight: 300;
    font-size: 32px;
    /*line-height: 38px;*/
    /* identical to box height */

    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.h3 {
    font-weight: 400;
    font-size: 24px;
    /*line-height: 32px;*/
    /* identical to box height, or 133% */

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.h4 {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 150% */

    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.body1 {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 150% */

    letter-spacing: 0.01em;
}

.body2 {
    font-weight: 300;
    font-size: 16px;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.subtitle-font {
    font-weight: 100;
    font-size: 32px;
    /*line-height: 38px;*/
    /* identical to box height */

    letter-spacing: 0.03em;
}

.btn-font {
    font-weight: 500;
    font-size: 14px;
    /*line-height: 16px;*/
    text-transform: uppercase;
}


.btn-plain {
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: 1px solid #313332;
    padding: 15px 40px;
}

.btn-plain:hover {
    background: rgba(0,0,0, 0.1);
}

.btn-blur {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    padding: 15px 40px;
    border: 1px solid var(--softWhite);
    color: var(--softWhite);
    backdrop-filter: blur(2.5px);
    background-color: rgba(229, 229, 229, 0.1);
}

.pages__item,
.social__item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


.pages__item:after {
    content: '';
    background-color: var(--softBlack);
    height: 1px;
    bottom: 0;
    display: block;
    opacity: 0;
}

.pages__item:hover:after {
    opacity: 1;
    transition: ease-in-out 0.15s;
}

.social {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.social__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s;
}

.social__link:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.social__link--instagram {
    background-image: url("../src/assets/icons/Instagram.svg");
}

.social__link--whatsapp {
    background-image: url("../src/assets/icons/WhatsApp.svg");
}

.social__link--telegram {
    background-image: url("../src/assets/icons/Telegram.svg");
}

.section {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: auto;
}


.section__grid {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-column-gap: 20px;
}

.about:after {
    content: '';
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: black;
    height: 1px;
    display: block;
    bottom: 0;
}

.title {
    margin-bottom: 70px;
}

.inside__container {
    grid-column: 2 span;
}

.section__list__item {
    list-style-image: url("../assets/icons/liItem.svg");
    padding-left: 15px;
    margin-left: 20px;
    max-width: 85%;
}

.section__list__item:not(:last-child) {
    margin-bottom: 35px;
}

.section__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 120px);
    max-height: 800px;
    height: 100%;

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    align-self: start;
}

.service-item:after {
    grid-column: 2 span;
    content: '';
    background-color: black;
    height: 1px;
    display: block;
    bottom: 0;
}

.service-item__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.service-item__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    grid-column-start: 3;
    min-height: calc(100vh - 120px);
    max-height: 700px;
}

.service-item__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-column: 2 span;
}

.service-item__title {
    margin-top: 100px;
    margin-bottom: 70px;
    word-break: break-word;
}

.service-item__description-container {
    margin-top: 25px;
    padding-bottom: 25px;
    grid-column-start: 1;
    grid-column-end: 1;
    position: relative;
    height: 100%;
}

.service-item__description-container:before {
    content: '';
    background-color: black;
    height: 1px;
    display: block;
    top: -25px;
    position: absolute;
    width: 100%;
}

.service-item__description {
    height: 100%;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-price {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.service-price__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.service-price__options {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.service-price__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 50px;
    gap: 15px;
    position: relative;
}

.service-price__option:after {
    content: '';
    background-color: black;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.service-price__option__price {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
}

.service-price__option__type {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.swiper_wrap {
    width: 80%;
}

.service-item__ul {
    margin-top: 65px;
}

.service-item__li {
    list-style: disc;
    padding-left: 5px;
    margin-left: 20px;
    text-transform: lowercase;
    align-self: center;
}

.carousel__title {
    text-align: center;
}